/*---------- Главная страница ----------*/
#block-body{
    width: 1080px;
    height: auto; 
    border:none; /*  1px dashed black; /*TO DELETE*/
    margin: 0 auto;

}

#back{
    height: 1400px;
    margin-top: 5px;
    margin-left:82%;
    position: absolute;
    z-index: -10;

}

#block-header{
    width: 1080px;
    height: 300px;
    border: 1px solid black; /*TO DELETE*/
}

#block-left{

    width: 240px;
    height: auto;
    float: left;
    border: 2px solid lightblue;
}

#block-content{
    width: 840px;
    height: auto;
    margin-left: 240px;
    /*border: 1px solid lightslategrey;*/

}

#header-top-block{
    width: 1080px;
    height: 32px;
    border: none;
}

#block-footer{
    margin-left: 264px;
    width: 1080px;
    height: 160px;
    margin-top: 36px;
    border:  none; /*1px solid blue;*/
    clear: both;
    padding-top: 25px;
}

#header-top-menu li{
    font: 16px sans-serif;
    float:left;
    margin-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid lightgray;
}
#header-top-menu a{
    font: 16px sans-serif;
    color: cadetblue;
    text-decoration: none;
}
#header-top-menu a:hover {
    color: coral;
    border-bottom: 1px dashed coral;
}
#header-top-menu span {
    color: coral;
    border-bottom: 1px dashed coral;
}

#reg-auth-title{

    margin-right: 12px;

}
#reg-auth-title a {
      font: 16px sans-serif;
      color: coral;
      border-bottom:1px dotted coral;

    text-decoration: none;
  }
#reg-auth-title a:hover {
    color: chocolate;
    border-bottom: none;
}
#reg-auth-title a.top-auth{

}
#reg-auth-title a.top-auth:hover{
    color: chocolate;
    cursor: pointer;
    background-image: url(/img/123.png);

}

#img-logo{
     width: auto;
     height: auto;
     margin-top: 5px;
     position: absolute;
     margin-left: 10px;
     z-index: -1;
 }
#img-logo2{
    position: absolute;
    width: 560px;
    height: auto;
    margin-top: 5px;
    margin-left: 500px;
    z-index: -1;
}

#info{
    width: 320px;
    border: 1px solid red;  /*TO DELETE*/
    margin-left: 68%;
    margin-top: 2%;
}
#info p{
    font: 15px sans-serif;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-right: 76px;
}
#info h3{
    font:bold 16px verdana;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 76px;
    
}
#info img{
    margin-left: 256px;
    margin-top: -48px;
}

#block-search{
    margin-left: 320px;
    margin-top: 232px;
    border:  1px solid coral;
    width: 396px;
    height: auto;

    color: red;
}
#block-search input#input-search{
    width: 360px;
    height: 32px;
    border:  1px solid #c7d6ff; /*TO DELETE*/
    font: 14px sans-serif;
}
#button-search{
    width: 24px;
    height: auto;
    border:none;/*  1px solid black;*/
    position:absolute;
    margin-left: 4px;
    margin-top: 2px;
   
}
#button-search:hover{
    border: 1px dotted chocolate;
}

#top-menu{
    border:1px solid white; /*TO DELETE*/
    width: 820px;
    height: 48px;
    margin-left: 260px;
    margin-top: 32px;

}
#top-menu li{
    float:left;
    margin-left: 12px;
}
#top-menu a{
    font: 15px sans-serif;
    color:cadetblue;
    margin-left: 4px;
    margin-right: 2px;
    text-decoration: none;
    border-bottom: 1px dashed cadetblue;
    text-align: center;
}
#top-menu td{
    align-items: center;
}
#top-menu a:hover{
    color: coral;
    border-bottom: 1px dashed coral;
    cursor: pointer;
}
#top-menu  img{
    float:left;
    width: 48px;
    height: 48px;
    margin-top: -16px;
}

#block-category{
    margin-top: 12px;
    width: 240px;
    height: auto;
    border: none;
}
#block-category > ul > li{
    border-bottom: 1px solid lightgray;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-border-radius:0 25px 25px 0;
    -moz-border-radius:0 25px 25px 0;

    border-radius:0px 20px 0px 30px;
    margin-right: 24px;
}
#block-category > ul > li > a{
    font: 15px sans-serif;
    margin-left: 24px;


}
#block-category > ul > li:hover{
    
    background-color: lightblue;
    cursor: pointer;


}

#block-category .category-section{
    margin-left: 12px;
    margin-bottom: 6px;

}
#block-category .category-section li{
    color: #7f7f8f;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 32px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius: 0px 0px 12px 12px;
}
#block-category .category-section a{
    font: 15px sans-serif;
    text-decoration: none;
    color: #161616;
    padding-left: 12px;
}
#block-category .category-section li:hover{
    text-decoration: blink;
    cursor: text;
    background-color: lightblue;

}
#block-category .category-section a:hover{
    cursor: pointer;
}

.horizontal-line{
    size:3px;
    width:1080px ;
    
    margin-top: -12px;
}

.header-title{
    color: white;
    text-align: center;
    box-shadow: #1d1d1d;
    border: 1px solid white;
    width: 220px;
    height: auto;
    font: 14px sans-serif;
    margin-top:0px;
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    background-color: #0A83AB;
    -webkit-border-radius:0px 0px 15px 0px;
    -moz-border-radius:0px 0px 15px 0px;
    border-radius:30px 0px 20px 0px;
}

#block-category .category-main{
    background-color: #0A9AAA; /*  background-image: url("/img/o-grad.png"); */
}

.footer-list{
    width: 240px;
    float:left;
    margin-left: 12px;
    margin-top: 5px;
    }
.footer-list li{
    margin-top: 5px;
}
.footer-list p{
    font: bold 14px sans-serfi;
    margin-bottom: 10px;
    color: blueviolet;
}
.footer-list a{
    font: 14px sans-serif;
    text-decoration: none;
    color: grey;
}
.footer-list a:hover{
    text-decoration: underline;
    color:crimson;
}

#nav-breadcrumbs{
    margin-top: 6px;
    margin-left: 10px;
    
}
#nav-breadcrumbs a{
    font: 13px sans-serif;
    color: cadetblue;
}
#nav-breadcrumbs a:hover{
    font: 14px sans-serif;
    color: coral;
}
#nav-breadcrumbs span{
    color:grey;
    font: 14px sans-serif; 
}

#block-sorting{
    height: 54px;
    border-bottom: 1px solid lightslategrey;

}
/*#block-sorting img {
    width: 32px;
    height: auto;
    margin-top: -10px;
}*/
#block-sorting img:hover {
    width: 34px;
    height: auto;
    margin-top: -12px;
    cursor: pointer;
}
#block-sorting li {
    font: 16px sans-serif;
    padding-top: 10px;
}

.options-list > li{
    float:left;
    margin-left: 10px;
    font: 14px sans-serif;
}

        /*Облась Сортировки*/
#select-sort{
    color: cadetblue;
    text-decoration: underline;
    cursor: pointer;
    
}

.sorting-list{
    border:1px dashed sandybrown;
    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 8px;
    z-index: 9999;
    display: none;
}
.sorting-list li{
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
}
.sorting-list a{
    font: 15px sans-serif;
    text-decoration: none;
    color: #161616;
    
}
.sorting-list a:hover{
    text-decoration: underline;
    cursor: pointer;
}



/*---------- Страница регистрации ----------*/
.h2-title{
    font: 25px sans-serif;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom:  3px;
    margin-top: 16px;
    text-align: center;
}

.h2-title{
    font: 25px sans-serif;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom:  3px;
    margin-top: 16px;
    text-align: center;
}

#block-form-registration{
    height: 450px;
    margin-left: 20px;
}

#form-registration{
    margin-top: 30px;
}

#form-registration li{
    margin-top: 10px;
}

#form-registration > li > input{
    height: 30px;
    width: 320px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
    color: black;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#form-registration > li > label{
    position: absolute;
    font: 15px sans-serif;
    margin-top: 7px;
}
#type-user-select{
    width: auto;
    height: 32px;

    text-align: center;
}
.star{
    font: 16px sans-serif;
    color: #E35903;
    position: absolute;
    margin-left: 188px;
    margin-top: 10px;
}


#genpass{
    font: bold 13px sans-serif;
    text-decoration:  underline;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}

#genpass:hover{
    text-decoration:  none;
}

#form-registration > li > input:focus,
#form-registration > li > input#reg_login:focus,
#form-registration > li > input#reg_pass:focus,
#block-captcha > input#reg_captcha:focus{
    border: none; /* 1px solid #C4E1EB*/;
}

#block-captcha{
    position: absolute;
    margin-left: 200px;
    height: 70px;
}

#block-captcha > input#reg_captcha {
    height: 30px;
    width: 100px;
    font: 19px sans-serif;
    margin-left: 15px;
    padding-left: 5px;
    margin-top: 8px;
    color: black;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#block-captcha img{
    float: left;
}

#block-captcha p {
    margin-top: 0px;
    font: bold 13px sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

#block-captcha p:hover{
    text-decoration: none;
}

.form_submit{
    background-image: url(/img/123.png);  
    border:  1px solid #E4E4E4; /*TO DELETE*/
    font: bold 13px sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    height: 33px;
    cursor: pointer;
  /*  margin-top: -15px;*/
    margin-right: 50%;
}

#form_submit:active{
    background-image: url(/img/grey_grad.png); /*нормальный градиент добавить, посветлее*/
}

/*---------- Страница добавления товара ----------*/
#block-form-addProd{
    margin-top: 16px;
    height: 450px;
    margin-left: 20px;
}
#form-addProd li, select{
    margin-top: 10px;
}

#form-addProd > li > input, textarea, select{
    height: 30px;
    width: 320px;
    font: 17px sans-serif;
    margin-left: 200px;
    padding-left: 5px;
    color: black;
    border-left: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

#form-addProd > li > label{
    position: absolute;
    font: 15px sans-serif;
    margin-top: 7px;
}

#addProd-description{
    height: 150px;
    resize: none;
}#editProd-description{
     height: 150px;
     resize: none;

 }

#block-wish_list{
    border: none;/*  1px solid black; *//*TO DELETE*/
    width: 220px;
    margin-top: 10px;
    height: auto;
}
.title-filter{
    font: bold 14px sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 56px;
}

#block-input-price li{
    float: left;
    margin-left: 10px;
}

#block-input-price input{
     width: 45px;
     height: 20px;
     font: 14px sans-serif;
     border:  1px solid #DCDCDC; /*TO DELETE*/
     padding-left: 3px;
 }

#block-input-price p{
    font: 14px sans-serif;
    float: left;
    margin-top: 0px;
    padding-top: 2px;
}
#blocktrackbar{
    width: 220px;
    height: 20px;
    border: 1px solid black; /*TO DELETE*/
    margin-top: 20px;
    clear: both;
}
.checkbox-brand li{
    font: 14px sans-serif;
    margin-left: 5px;
    margin-top: 3px;
}

.checkbox-brand input{
    margin-right: 8px;
}

#to-wish-list-btn{
    margin-bottom: 15px;
    width: 112px;
    height: 27px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.to-wish-list{
    text-align: center;
}

#to-wish-list-btn:hover{
    border:  1px dotted chocolate;
}

#block-top-auth{
    border:  1px solid #DCDCDC; /*TO DELETE*/
    width: 210px;
    height: 200px;
    margin-left: 730px;
    margin-top: 35px;
    background-color: white;
    position: absolute;
    z-index: 9999;
    -moz-box-shadow: 0 0 15px #DCDCDC;
    -webkit-box-shadow:  0 0 15px #DCDCDC;
    box-shadow:  0 0 15px #DCDCDC;
    display: none;
}

#input-email-pass h3 {
    font: 15px sans-serif;
    margin: 10px;
}

#message-auth{
    font: bold 13px sans-serif;
    margin-top: 10px;
    padding: 10px;
    background-color: #FDE7E7;
    color: red;
    display: none;
}

#message-auth-center{
    text-align: center;
}
#message-auth-center > li{
    padding: 10px;
}

#input-email-pass > li{
    margin-top: 7px;
}

#input-email-pass input#auth_login{
    width: 180px;
    height: 25px;
    font: 15px sans-serif;
    border: 1px solid #DCDCDC; /*TO DELETE*/
    padding-left: 5px;
}

#input-email-pass input#auth_pass{
    width: 180px;
    height: 25px;
    font: 15px sans-serif;
    border:  1px solid #DCDCDC; /*TO DELETE*/
    padding-left: 5px;
}

.pass-show{
    background: url("/img/open eye.png") no-repeat;
    width: 18px;
    height: 12px;
}

.pass-hide{
    background: url("/img/close eye.png") no-repeat;
    width: 18px;
    height: 12px;
}

#input-email-pass span{
    width: 18px;
    height: 12px;
    cursor: pointer;
    margin-top: 8px;
    position: absolute;
    margin-left: -28px;
}

#list-auth{
    margin-top: 12px;
}

#list-auth li{
    margin-top: 15px;
    margin-left: 10px;
    font: 14px sans serif;
}
#list-auth a{
    margin-top: 10px;
    color: black;
    text-decoration: none;
    margin-left: 3px;
    border-bottom: 1px dashed black;
}
#list-auth a:hover{
    border-bottom: none;
}

#button-auth a{
    margin-right: 10px;
    cursor: pointer;
    font: bold 13px sans-serif;
    padding: 5px 10px;
    border:  1px solid #E8E8E8; /*TO DELETE*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ededf3;
}

#button-auth a:hover{
    background-color: #f4f4f4;
}

#devices-list{
    width: auto;

}

.style-title-grid{
    margin-top: 0px;
    margin-bottom: 0px;
}




.style-title-grid a:hover{
    color: #E26666;
}



.block-img-grid{
    display: flex;
    width: 360px;
    height: 230px;
    float: left;
    margin-right: 15px;
}




.search-error{

    height: 490px;
    width: 500px;
    text-align: center;
    font: 24px Arial;
    margin-top: 10px;
    margin-left: 225px;
}

.reg_message_good{
    margin-top: 10px;
    font: 22px bold sans-serif;
    text-align: center;
}
#block-user-grid{
    text-align: center;
}


/*---------- Страница профиля ----------*/

.block-profile{
    margin-top: 25px;
    list-style-type: none;
}

.profile-img{
    height: 150px;
    width: auto;
}

.user-type-info{
    margin-top: 10px;
    font: 18px bold sans-serif;

}

.profile-info{
    font: 28px bold sans-serif;
    color: #1d1d1d;
    padding-top: 25px;
}

.profile-phone
{
    margin-top: 10px;
    font: 16px bold sans-serif;
    color: #858585;
}

.profile-input{
    padding-top: 10px;
}

.PassButtons{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #a8a8a8;
}

.PassButtons:hover{
    border: 1px solid #00d7ff;
}

#block-user{
    border:1px solid #c7d6ff;
    width: 140px;
    height: 46px;
    position: absolute;
    z-index: 7;
    margin-left: 900px;
    background-color: white;
    padding: 6px;
    display: none;
    
    box-shadow: 0 0 16px #DBDBDB;
}

#block-user:hover{
    border:1px dashed chocolate;
    cursor: pointer;
}
#block-user  li{
    text-align: center;
    margin-top: 3px;
}
#block-user a{
    text-decoration: none;
    font: bold 12px sans-serif;
    color: cadetblue;
}

#block-user a:hover{
    border-bottom: 1px dashed #E26666;
    color: #E26666;
    cursor: pointer;
}

.block-passRec{
    list-style-type: none;
    margin-left: 25px;
    margin-top: 25px;
}

#recPass-img{
    height: 150px;
    width: auto;
}

#block-passRec-grid{
    text-align: center;
}

.recPass-info{
    font: 14px bold sans-serif;
    color: #858585;
    padding-top: 5px;
}

.recPass-head-info{
    font: 28px bold sans-serif;
    color: #1d1d1d;
    padding-top: 25px;
}

#img-preview{
    float: right;
    margin-top: 1%;
    margin-right: 5%;
}

#forward-btn{

    margin-right: 4%;
    float: right;
}
#back-btn{
    margin-left: 1%;
    float: left;
}